/* TaskList.css */
.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.section {
    width: 30%;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: black;
}

.task-list {
    min-height: 400px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.new-task-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.create-task-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #2980b9;
    color: white;
    cursor: pointer;
}

.create-task-button:hover {
    background-color: #1a5276;
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task-actions button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #34495e;
    color: #ecf0f1;
    cursor: pointer;
}

.task-actions button:hover {
    background-color: #2c3e50;
}



